workflows/n8n/tavern-product-to-streaming.workflow.json
{
  "id": "tavernProductBrandToCompleteVideo",
  "name": "Tavern Product/Brand-to-Complete-Video Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Start Tavern complete video demo",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1400, 0]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    tavern_api_base: 'http://api:8770',\n    brand_name: '龙八',\n    duration_seconds: 45,\n    aspect_ratio: '9:16',\n    bgm_style: 'premium light corporate',\n    product: {\n      product_name: '龙八礼盒',\n      sku: 'LB-VIDEO-001',\n      price: 299,\n      original_price: 399,\n      aroma_type: '酱香',\n      selling_points: ['宴请送礼', '礼盒包装', '直播权益'],\n      scenes: ['商务宴请', '节日拜访']\n    },\n    brand_profile: {\n      positioning: '面向成年人礼赠和宴请场景的可信酒类品牌',\n      tone: '高级、可信、克制',\n      proof_points: ['品牌背书', '礼盒质感', '直播间权益']\n    }\n  }\n}];"
      },
      "id": "demo-payload",
      "name": "Set Tavern video payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1160, 0]
    },
    {
      "parameters": {
        "url": "={{$json.tavern_api_base}}/api/v1/workflow/definitions",
        "options": {}
      },
      "id": "read-workflow-definitions",
      "name": "Read Tavern workflow definitions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-920, -240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.tavern_api_base}}/api/v1/workflow/product-videos/runs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { brand_name: $json.brand_name, product: $json.product, brand_profile: $json.brand_profile, duration_seconds: $json.duration_seconds, aspect_ratio: $json.aspect_ratio, bgm_style: $json.bgm_style } }}",
        "options": {}
      },
      "id": "create-video-workflow-run",
      "name": "Create Tavern video workflow run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-920, 60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Set Tavern video payload\"].json.tavern_api_base}}/api/v1/workflow/product-videos/runs/{{$json.workflow.run.workflow_run_id}}/nodes/product_brand_input/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { n8n_node: 'product_brand_input' } }}",
        "options": {}
      },
      "id": "stage-product-brand-input",
      "name": "00 商品/品牌资料",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-680, 60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Set Tavern video payload\"].json.tavern_api_base}}/api/v1/workflow/product-videos/runs/{{$json.workflow.run.workflow_run_id}}/nodes/planner/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { n8n_node: 'planner' } }}",
        "options": {}
      },
      "id": "stage-planner",
      "name": "01 Planner Agent（任务规划）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-440, 60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Set Tavern video payload\"].json.tavern_api_base}}/api/v1/workflow/product-videos/runs/{{$json.workflow.run.workflow_run_id}}/nodes/story/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { n8n_node: 'story' } }}",
        "options": {}
      },
      "id": "stage-story",
      "name": "02 Story Agent（故事生成）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-200, 60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Set Tavern video payload\"].json.tavern_api_base}}/api/v1/workflow/product-videos/runs/{{$json.workflow.run.workflow_run_id}}/nodes/script/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { n8n_node: 'script' } }}",
        "options": {}
      },
      "id": "stage-script",
      "name": "03 Script Agent（直播话术）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [40, 60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Set Tavern video payload\"].json.tavern_api_base}}/api/v1/workflow/product-videos/runs/{{$json.workflow.run.workflow_run_id}}/nodes/director/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { n8n_node: 'director' } }}",
        "options": {}
      },
      "id": "stage-director",
      "name": "04 Director Agent（镜头拆解）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Set Tavern video payload\"].json.tavern_api_base}}/api/v1/workflow/product-videos/runs/{{$json.workflow.run.workflow_run_id}}/nodes/visual_director/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { n8n_node: 'visual_director' } }}",
        "options": {}
      },
      "id": "stage-visual-director",
      "name": "05 Visual Director Agent（画面设计 + Prompt）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Set Tavern video payload\"].json.tavern_api_base}}/api/v1/workflow/product-videos/runs/{{$json.workflow.run.workflow_run_id}}/nodes/asset/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { n8n_node: 'asset' } }}",
        "options": {}
      },
      "id": "stage-asset",
      "name": "06 Asset Agent（素材匹配/生成）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Set Tavern video payload\"].json.tavern_api_base}}/api/v1/workflow/product-videos/runs/{{$json.workflow.run.workflow_run_id}}/nodes/image/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { n8n_node: 'image' } }}",
        "options": {}
      },
      "id": "stage-image",
      "name": "07 Image Agent（背景/贴图生成）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Set Tavern video payload\"].json.tavern_api_base}}/api/v1/workflow/product-videos/runs/{{$json.workflow.run.workflow_run_id}}/nodes/video/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { n8n_node: 'video' } }}",
        "options": {}
      },
      "id": "stage-video",
      "name": "08 Video Agent（镜头视频生成）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1240, 60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Set Tavern video payload\"].json.tavern_api_base}}/api/v1/workflow/product-videos/runs/{{$json.workflow.run.workflow_run_id}}/nodes/editor/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { n8n_node: 'editor' } }}",
        "options": {}
      },
      "id": "stage-editor",
      "name": "09 Editor Agent（剪辑/BGM/合成）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1480, 60]
    },
    {
      "parameters": {
        "url": "={{$node[\"Set Tavern video payload\"].json.tavern_api_base}}/api/v1/workflow/runs/{{$json.workflow.run.workflow_run_id}}/nodes",
        "options": {}
      },
      "id": "read-current-run-node-runs",
      "name": "Read current run node runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1720, 60]
    },
    {
      "parameters": {
        "url": "http://api:8770/api/v1/workflow/runs",
        "options": {}
      },
      "id": "list-workflow-runs",
      "name": "List Tavern workflow runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 60]
    }
  ],
  "connections": {
    "Start Tavern complete video demo": {
      "main": [[{"node": "Set Tavern video payload", "type": "main", "index": 0}]]
    },
    "Set Tavern video payload": {
      "main": [[
        {"node": "Read Tavern workflow definitions", "type": "main", "index": 0},
        {"node": "Create Tavern video workflow run", "type": "main", "index": 0}
      ]]
    },
    "Create Tavern video workflow run": {"main": [[{"node": "00 商品/品牌资料", "type": "main", "index": 0}]]},
    "00 商品/品牌资料": {"main": [[{"node": "01 Planner Agent（任务规划）", "type": "main", "index": 0}]]},
    "01 Planner Agent（任务规划）": {"main": [[{"node": "02 Story Agent（故事生成）", "type": "main", "index": 0}]]},
    "02 Story Agent（故事生成）": {"main": [[{"node": "03 Script Agent（直播话术）", "type": "main", "index": 0}]]},
    "03 Script Agent（直播话术）": {"main": [[{"node": "04 Director Agent（镜头拆解）", "type": "main", "index": 0}]]},
    "04 Director Agent（镜头拆解）": {"main": [[{"node": "05 Visual Director Agent（画面设计 + Prompt）", "type": "main", "index": 0}]]},
    "05 Visual Director Agent（画面设计 + Prompt）": {"main": [[{"node": "06 Asset Agent（素材匹配/生成）", "type": "main", "index": 0}]]},
    "06 Asset Agent（素材匹配/生成）": {"main": [[{"node": "07 Image Agent（背景/贴图生成）", "type": "main", "index": 0}]]},
    "07 Image Agent（背景/贴图生成）": {"main": [[{"node": "08 Video Agent（镜头视频生成）", "type": "main", "index": 0}]]},
    "08 Video Agent（镜头视频生成）": {"main": [[{"node": "09 Editor Agent（剪辑/BGM/合成）", "type": "main", "index": 0}]]},
    "09 Editor Agent（剪辑/BGM/合成）": {"main": [[{"node": "Read current run node runs", "type": "main", "index": 0}]]},
    "Read current run node runs": {"main": [[{"node": "List Tavern workflow runs", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "active": false,
  "versionId": "tavern-product-brand-to-complete-video-v2-stepwise",
  "meta": {
    "templateCredsSetupCompleted": true,
    "tavern": {
      "workflow": "product_brand_to_complete_video_stepwise",
      "apiBaseInsideDocker": "http://api:8770",
      "apiBaseFromHost": "http://127.0.0.1:8770",
      "finalArtifact": "complete_video",
      "executionMode": "one_http_node_per_agent"
    }
  },
  "tags": [
    {"name": "Tavern"},
    {"name": "product-brand-to-complete-video"},
    {"name": "n8n"},
    {"name": "stepwise"}
  ]
}
